<h1>New PURCHASE_REQUSET</h1>

<%= form_with model: @purchase_request  do |form| %>

  <div>
    <%= form.label :delivery_date %><br>
    <%= form.text_area :delivery_date %>
  </div>

  <div>
    <%= form.label :user_id %><br>
    <%= form.text_area :user_id %>
  </div>
  <div>
    <%= form.label :requisition_amount %><br>
    <%= form.text_area :requisition_amount %>
  </div>
  <div>
    <%= form.label :pr_creation_date %><br>
    <%= form.text_area :pr_creation_date %>
  </div>
  <div>
    <%= form.label :status %><br>
    <%= form.text_area :status %>
  </div>
  <div>
    <%= form.label :approved %><br>
    <%= form.text_area :approved %>
  </div>
  
   <div>
    <%= form.submit %>
  </div>

<% end %>
