
<table class="table table-striped table-hover">
  <tr>
    <th>delivery_date</th>
    <th>user_id</th>
    <th>requisition_amount</th>
    <th>pr_creation_date</th>
    <th>status</th>
  </tr>
<tr>
  <td><%= @purchase_request&.delivery_date %></td>
  <td><%= @purchase_request&.user_id %></td>
  <td><%= @purchase_request&.requisition_amount %></td>
  <td><%= @purchase_request&.pr_creation_date %></td>
  <td><%= @purchase_request&.status %></td>
</tr>
</table>
<td><%= link_to "back", user_purchase_requests_path(current_user, @purchase_request) %></td>


