

  <p><%= @purchase_request.delivery_date %></p>
  <p><%= @purchase_request.user_id %></p>
  <p><%= @purchase_request.requisition_amount %></p>
  <p><%= @purchase_request.pr_creation_date %></p>
  <p><%= @purchase_request.status %></p>
  <p><%= @purchase_request.approved %></p>


<ul>
  <li><%= link_to "Edit", edit_purchase_request_path(@purchase_request) %></li>
  <li><%= link_to "Destroy", purchase_request_path(@purchase_request), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>


  