
<h1>Products</h1>

<%= link_to "New Products", new_product_path, method: :post, class: "btn btn-primary" %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th>Category id </th>
      <th>Actions</th>

    </tr>
  </thead>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= product.image %></td>
      <td><%= product.category_id %></td>
      <ul>
      <td> <div class="d-flex flex-row bd-highlight mb-3" >
          <%= link_to ('<i class="fa fa-eye fa-lg text-primary"></i>').html_safe, product_path( product.id), class:" mx-2" %>
          <%= link_to ('<i class="fa fa-pencil fa-lg text-primary"></i>').html_safe, edit_product_path( product.id), class:" mx-2"   %>
          <%= button_to "<i class='fa fa-trash fa-lg text-primary'></i>".html_safe, product_path( product.id),:method => :delete, class: "border-0", style: "background: none;"  %>
        </div></td>
      </ul>
    </tr>
  <% end %>
</table>
 
